#sidebar {
    background-color: #2C3C4D;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;

    #logo {
        background-color: #36c;
        color: #fff;
        text-align: center;
        padding: 10px;
        font-size: 20px;
    }
}