.chat-container {
    width: 100%;
    padding: 20px;
    background-color: #18181b;
    color: #e0e0e0;
    border: 1px solid #2d2d2d;
    font-family: Arial, sans-serif;
    height: 100vh;
    font-size: 1rem;
}

.messages {
    height: 100%;
    overflow-y: auto;
    background-color: #1f1f23;
    padding: 10px;
}

.message {
    padding: 2px 0;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.username {
    font-weight: 700;
    color: #ffa600; 
}

.text {
    color: #ffffff;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.provider {
    font-weight: bold;
}

.twitch {
    color: #9147ff;
}

.youtube {
    color: #ff0000;
}

.time {
    color: #8c8c8c;
}

.notice {
    border: 2px solid #d4af37;
    background-color: #2d2d2d;
    padding: 0.5rem;
    margin: 0.25rem;
}

.emotettv-img {
    width: 2rem;
    height: 2rem;
}

.emotettv-badge {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -0.2rem;
}