.notice {
  background-color: #242424;
}

.notice .text {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.verticalLine {
  width: 8px;
  background-color: #868e96;
}

.gold-notice .verticalLine {
  background: linear-gradient(
    to bottom,
    #f9d423 0%,
    #ffde7d 25%,
    #d4af37 50%,
    #ffde7d 75%,
    #f9d423 100%
  );
}

.announcement-notice .verticalLine {
  background-color: #1971c2;
}

.gift-notice .verticalLine {
  background-color: #c2194c;
}

.gold-border {
  --border-angle: 45deg;

  border: 0.25rem solid transparent;
  border-radius: 0.25rem;

  border-image: linear-gradient(
      var(--border-angle),
      #f9d423 0%,
      #ffde7d 25%,
      #d4af37 50%,
      #ffde7d 75%,
      #f9d423 100%
    )
    1;

  animation: moveGradient 1s linear infinite;
  padding: 0.5rem;
  background-color: var(--background-color);
}

.gold-border .text {
  padding: 0;
}

@keyframes rotateBorder {
  to {
    /* spin it one full turn */
    --border-angle: 405deg;
  }
}
