#logviewer {
    h2 {
        padding: 0.5rem;
        background-color: #36c;
        margin: 0;
        border-bottom: 1px solid #000;
        font-size: 22px;
    }

    .filter {
        padding: 0.5rem;
        background-color: #36c;
        input, button {
            margin-right: 0.5rem;
        }
    }

    .userChatStats {
        background-color: #26282e;
        padding: 0.5rem;
        span {
            margin-right: 1rem;
        }
    }

    .badge {
        margin-right: 0.5rem;
    }
}

#select-channels {
    background-color: #3C3C3C;
    padding: 3rem;
    width: 500px;
    margin: 10vh auto;
    font-size: 26px;

    h1 {
        text-align: center;
        margin-bottom: 1rem;
        color: #FFFFFF;
    }

    .suggest-channel {
        margin-bottom: 1rem;

        .suggest-input {
            margin: 0;
        }
    }

}