.notice {
  background-color: #1f1f1f;
}

.verticalLine {
  width: 0.5rem;
  background-color: #868e96;
}

.gold-notice .verticalLine {
  background: linear-gradient(
    to bottom,
    #f9d423 0%,
    #ffde7d 25%,
    #d4af37 50%,
    #ffde7d 75%,
    #f9d423 100%
  );
}

.announcement-notice .verticalLine {
  background-color: #1971c2;
}

.gold-border {
  --border-angle: 45deg;

  border: 0.5rem solid transparent;
  border-radius: 0.25rem;

  border-image: linear-gradient(
      var(--border-angle),
      #f9d423,
      #ffde7d,
      #d4af37,
      #ffde7d,
      #f9d423
    )
    1;

  animation: rotateBorder 5s linear infinite;
  padding: 1rem;
  background-color: var(--background-color);
}

@keyframes rotateBorder {
  to {
    /* spin it one full turn */
    --border-angle: 405deg;
  }
}
