.wrapper {
  padding: var(--mantine-spacing-xl) var(--mantine-spacing-xl);
}

.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: var(--mantine-spacing-md);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}
