{% extends base.html %}
{% block title %}Connect apps - TBot{% end %}
{% block body %}
        <h2>{{handler.current_user['user']}} - Connect apps</h2>
        <style>
            .btn { font-size: 20px; }
            .group {
                margin-bottom: 30px;
                border:1px solid #9A9A9A;
                border-radius: 0.25rem;
                padding: 10px;
            }
            .group h2{color: #007bff; margin-bottom: 0;}
        </style>
        {% if success_msg %}
        <div class="alert alert-success">
            {{escape(success_msg)}}
        </div>
        {% end %}
        <div class="group">
            <h2>Twitch</h2>
            <p>Adds the bot to your Twitch chat and gives it access to your subscribers.</p>
            <a class="btn btn-secondary {% if apps['twitch'] == 'Y' %}btn-success{% end %}" href="/connect/twitch">
                {% if apps['twitch'] == 'Y' %}Connected{% else %}Connect{% end %}
            </a>
        </div>
        <div class="group">
            <h2>Discord</h2>
            <p>Adds the bot to your Discord channel and gives your subscribers their sub streak and sub tier as roles in Discord.</p>
            
            <a class="btn btn-secondary {% if apps['discord'] == 'Y' %}btn-success{% end %}" href="/connect/discord">
                {% if apps['discord'] == 'Y' %}Connected{% else %}Connect{% end %}
            </a>
        </div>
        <div class="group">
            <h2>Spotify</h2>
            <p>Gives the Twitch bot access to your Spotify account and enables the commands: !song, !prevsong and !playlist.</p>
            <a class="btn btn-secondary {% if apps['spotify'] == 'Y' %}btn-success{% end %}" href="/connect/spotify">
                {% if apps['discord'] == 'Y' %}Connected{% else %}Connect{% end %}
            </a>
        </div>
{% end %}
