<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>{{config['web']['name']}}</title>
    <script>
        {% set twitch_user = handler.get_secure_cookie('twitch_user') %}
        window.tbot = {
            name: '{{config['web']['name']}}',
            {% if twitch_user %}
                twitch_user: {{twitch_user}}
            {% else %}
                twitch_user: null
            {% end %}
        }
    </script>
<script defer src="/static/main.527ad5f1aca57f15d311.js"></script><script defer src="/static/vendor.72e03ecb66d93b79cd1d.js"></script><link href="/static/main.0e6bbea4649db19f1d40.css" rel="stylesheet"></head>
<body>
    <div id="root"></div>
</body>
</html>