<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Waiting for twitch</title>
    <style>body{background-color:#26282e}h1{color: #fff}</style>
</head>
<body>
    <div class="d-flex flex-column text-center mt-5">
        <div>
            <div class="spinner-grow text-primary" role="status" style="width:5rem;height:5rem;">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="mt-2">
            <h1>Waiting on Twitch</h1>
        </div>
    </div>
    <script>location.href = '/twitch/login?redirect=true';</script>
</body>
</html>